/* span {
    margin: 0;
    padding: 0;
    border: #000 solid;
} */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
}




#nome_endereco {
    height: 52px;
    background: #3FE366;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 0 0 30px 30px;
}

#nome_endereco::placeholder {
    color: #000000a9;
}

input:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
} 

.cor-input{
    background: #3FE366;
    opacity: 0.95;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
}


#intro iframe {
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 7%;
    display: table-cell;
    /* vertical-align: middle; */
}

#menu-mapa {
    background: #3FE366;
    height: 169px;
    max-width: 900px;
    border-radius: 10px 10px 0 0;
}

#menu-mapa a {
    background:  rgba(63, 155, 102, 0.7);
    height: 59px;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000000;
    font-weight: 600;
    font-size: 18px;

}

#pesquisa {
    z-index: 1000;
}
#btn-1 {
    border-radius: 20px 50px 50px 0px;
}

#btn-2 {
    border-radius: 50px 20px 0px 50px;
}