@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#all {
    margin-top: 100px;
}

#login {
    animation-name: fadein;
    animation-duration: 2s;
}

#title {
    font-family: 'Quicksand', bold, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
#form-email, #form-password {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#form-login {
    padding: 20px;
}

#name, #email, #phone, #password {
    background-color: #E5E5E5;
    border-radius: 90px;
    border: none;
    height: 60px;
}

#entry {
    display: block;
    margin: auto;
    background-color: rgba(63, 214, 102, 0.8);
    border-radius: 50px;
    border: none;
    font-family: 'Quicksand', bold, sans-serif;
    color: black;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
}

#button {
    padding-top: 25px;
    margin: 80px 0 15px 0;
}

#conta {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
}

#conta p {
    margin: 0;
    padding: 0;
}