@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#all {
    margin-top: 100px;
}

#login {
    animation-name: fadein;
    animation-duration: 2s;
}

#title {
    font-family: 'Quicksand', bold, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
#form-email, #form-password {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#form-login {
    padding: 20px;
}

#name, #email, #phone, #password {
    background-color: #E5E5E5;
    border-radius: 90px;
    border: none;
    height: 60px;
}

#btn_start {
    background-color: #3FE366;
    color: black;
    font-weight: bold;
    font-size: 22px;
    width: 50%;
    height: 60px;
    border-radius: 40px;
    padding-top: 10px;
}


#conta {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
}

#conta p {
    margin: 0;
    padding: 0;
}