/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 116px;
    align-items: center;
    justify-content: center;
}

header img {
    width: 159px;
    height: 83px;
}

h1.display-4 {
    color: rgb(165, 165, 165);
    font-size: 35px;
}

/* intro section */
#intro {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.63),
                                rgba(0, 0, 0, 0.63)), 
                url('../img/banner_intro.jpg') no-repeat center;
    background-size: cover;
    height: 480px;
    color: #ffffff;
    padding-left: 5%;
}

@media screen and (min-width: 600px) {
    #intro {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.63),
                                    rgba(0, 0, 0, 0.63)), 
                    url('../img/banner_intro.jpg') no-repeat center;
        background-size: cover;
        height: 639px;
        color: #ffffff;
        font-size: 40px;
    }
}

#intro b {
    color: #3FE366;
}

/* construção section */
#construcao {
    width: 100%;
    height: fit-content;
    min-height: 550px;
    padding: 5%;
}


#construcao img {
    width: 70%;
    margin: 5%;
}

#construcao p {
    color: #87FF7D;
    font-weight: 500;
    font-size: 24px;
}

#email input {
    width: 401px;
    height: 59px;
    border: 4px solid #87FF7D;
}

#email button {
    background-color: rgba(63, 227, 102, 0.97);
    height: 49px;
    width: 128px;
    margin-left: 30px;
    color: white;
    font-weight: 600;   
}

/* telas-app section */
#telas-app {
    background-color: rgb(141, 235, 163);
    height: fit-content;
    padding: 10px;
}

#telas-app img {
    width: 90%;
    margin: 10px 0;
}

@media screen and (min-width: 600px) {
    #telas-app img {
        width: unset;
        margin: 10px 0;
    }
}

/* Quem somos section */
#quem-somos {
    height: fit-content;
}

@media screen and (min-width: 1200px) {
    #quem-somos {
        height: 100vh;
    }
}

#quem-somos img {
    margin: 20px;
}

#quem-somos h2 {
    margin-bottom: 40px;
    color: #3FE366;
    font-weight: 600;
    padding: 20px;
}

#quem-somos p {
    max-width: 900px;
    color: rgb(165, 165, 165);
    font-size: 20px;
    padding: 20px;
}

#btn_start {
    background-color: #3FE366;
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
    width: 30%;
    min-width: 250px;
    height: 60px;
    border-radius: 40px;
}

/* Footer */
footer {
    background: #3FE366;
    height: fit-content;
    padding-bottom: 10px ;
    color: white;
}
