/* Global */

body {
    background-color: white;
    scroll-behavior: smooth;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}


/* Intro */
@keyframes fadeinout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
  }
   

#logo {
    margin-top: 250px;
    margin-left: 25vw;
    animation-name: fadeinout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#carousel_intro {
    height: 100vh;
    width: 100vw;
}

#intro_title {
    animation-name: fadeinout;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#presentation {
    padding: 120px 35px 0;
    margin-top: 100px;
}

#presentation h4 {
    font-size: 20px;
    text-align: center;
}

#presentation p {
    font-size: 18px;
    margin-top: 80px;
}

#btn_app {
    background-color: #3FE366;
    color: black;
    font-weight: bold;
    font-size: 28px;
    width: 70%;
    height: 60px;
    margin-left: 13vw;
    margin-top: 50px;
    border-radius: 40px;
}

#intro_title.carousel-caption{
    position: absolute;
    top: 100px;
    height: 80px;
    margin: 0 auto;
    color: black;
}

#intro_explanation_img{
    margin-top: 50px;
    margin-left: 30vw;
    height: 124px;
    width: 124px;
}

#intro_explanation h5 {
    font-weight: bold;
    font-size: 18px;
}

#intro_explanation.carousel-caption{
    position: absolute;
    top: 180px;
    height: 100px;
    margin: 0 auto;
    color: black;
    font-weight: 500;
}

.carousel-item {
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

#explanation_plus {
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0;
}

#explanation_plus li {
    display: flex;
    border-bottom: 1.2px solid black;
    margin-top: 25px;
}

#explanation_plus li:last-child {
    border: none;
}

#btn_start {
    background-color: #3FE366;
    color: black;
    font-weight: bold;
    font-size: 28px;
    width: 70%;
    height: 60px;
    margin-top: 450px;
    margin-left: 16vw;
    border-radius: 40px;
}

.intro_p {
    margin-top: 15px;
    margin-left: 10vw;
    font-size: 20px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238c9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238c9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


.carousel-indicators li {
    background-color:#3FE366;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

@media screen and (min-width: 600px) {
    #logo {
        margin-top: 270px;
        margin-left: 28vw;
        animation-name: fadeinout;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    #intro_explanation_img{
        margin-top: 50px;
        margin-left: 30vw;
        height: 124px;
        width: 124px;
    }

    #explanation_plus {
        list-style-type: none;
        margin-top: 80px;
        padding-left: 0;
        font-size: 20px;
    }

    #explanation_plus li {
        display: flex;
        width: 100%;
        border-bottom: 1.2px solid black;
        margin-top: 25px;
        text-align: left;
    }

    #explanation_plus img {
        margin-right: 15px;
    }

    #btn_start {
        background-color: #3FE366;
        color: black;
        font-weight: bold;
        font-size: 28px;
        width: 40%;
        height: 60px;
        margin-top: 500px;
        margin-left: 28vw;
        border-radius: 40px;
    }

    .intro_p {
        margin-top: 25px;
        margin-left: 16vw;
        font-size: 25px;
    }

    #presentation p {
        font-size: 20px;
        margin-top: 80px;
        padding: 0 20px 0;
    }

    #seta {
        margin-left: 40vw;
        margin-top: 80px;
    }
  }

@media screen and (min-width: 900px) {
    #logo {
        margin-top: 250px;
        margin-left: 38vw;
        animation-name: fadeinout;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    #intro_explanation h5{
        font-size: 26px;
    }

    #intro_explanation_img{
        margin-top: 50px;
        margin-left: 40vw;
        height: 124px;
        width: 124px;
    }

    #explanation_plus {
        list-style-type: none;
        margin-top: 80px;
        padding-left: 0;
        font-size: 20px;
    }

    #explanation_plus li {
        display: flex;
        width: 100%;
        border-bottom: 1.2px solid black;
        margin-top: 15px;
        padding-bottom: 10px;
        text-align: left;
        align-items: center;
        font-size: 22px;
    }

    #explanation_plus img {
        margin-right: 15px;
    }

    #btn_start {
        background-color: #3FE366;
        color: black;
        font-weight: bold;
        font-size: 28px;
        width: 40%;
        height: 60px;
        margin-top: 460px;
        margin-left: 28vw;
        border-radius: 40px;
    }

    .intro_p {
        margin-top: 25px;
        margin-left: 28vw;
        font-size: 25px;
    }

    #presentation h4 {
        font-size: 26px;
        margin-top: 40px;
        padding: 0 25px 0;
    }

    #presentation p {
        font-size: 26px;
        line-height: 30px;
        margin-top: 80px;
        padding: 0 200px 0;
    }

    #seta {
        margin-left: 40vw;
        margin-top: 80px;
    }
  }
  
@media screen and (min-width: 1200px) {
    #logo {
        margin-top: 250px;
        margin-left: 42vw;
        animation-name: fadeinout;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    #intro_title h5{
        font-size: 35px;
    }

    #intro_explanation h5{
        font-size: 26px;
    }

    #intro_explanation_img{
        margin-top: 30px;
        margin-left: 45vw;
        height: 124px;
        width: 124px;
    }

    #explanation_plus {
        list-style-type: none;
        margin-top: 30px;
        padding-left: 0;
        font-size: 20px;
    }

    #explanation_plus li {
        display: flex;
        width: 100%;
        border-bottom: 1.2px solid black;
        margin-top: 5px;
        padding-bottom: 10px;
        text-align: left;
        align-items: center;
        font-size: 22px;
    }

    #explanation_plus img {
        margin-right: 15px;
    }

    #btn_start {
        background-color: #3FE366;
        color: black;
        font-weight: bold;
        font-size: 28px;
        width: 20%;
        height: 60px;
        margin-top: 380px;
        margin-left: 40vw;
        border-radius: 40px;
    }

    .intro_p {
        margin-top: 25px;
        margin-left: 38vw;
        font-size: 25px;
    }

    #presentation h4 {
        display: flex;
        font-size: 26px;
        width: fit-content;
        margin: 5px auto 5px;
    }

    #presentation p {
        font-size: 26px;
        line-height: 30px;
        margin-top: 80px;
        padding: 0 250px 0;
    }

    #seta {
        
        margin-left: 45vw;
        margin-top: 80px;
    }
  }