@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, #all {
    background-color: #ffffff;
}    

#cadastro {
    animation-name: fadein;
    animation-duration: 2s;
}

#title {
    font-family: 'Quicksand', bold, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

#form-sms {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#form-cadastro {
    padding: 20px;
}

#sms {
    background-color: rgb(243, 242, 242);
    border-radius: 90px;
    border: none;
}

#submit {
    display: block;
    margin: auto;
    background-color: rgba(63, 214, 102, 0.8);
    border-radius: 50px;
    border: none;
    font-family: 'Quicksand', bold, sans-serif;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
}

#button {
    padding-top: 25px;
    margin: 0;
}