/* span {
    margin: 0;
    padding: 0;
    border: #000 solid;
} */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
}




#nome_endereco {
    border-radius: 70px;
    height: 52px;
    outline: 0;
    background: #3FE366;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

#nome_endereco::placeholder {
    color: #000000a9;
}

.cor-input{
    background: #3FE366;
    opacity: 0.85;
    font-size: 18px;
    font-weight: bold;
    border-radius: 70px;
}

#intro {
    background: url(../img/map.png) center no-repeat;
    /* background: #fff; */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: table;
    height: 100%;
    width: 100%;
}

.container {
    padding: 7%;
    display: table-cell;
    /* vertical-align: middle; */
}

#menu-mapa {
    background: #3FE366;
    height: 169px;
    max-width: 900px;
    border-radius: 10px 10px 0 0;
}

#menu-mapa a {
    background:  rgba(63, 155, 102, 0.7);
    height: 59px;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000000;
    font-weight: 600;
    font-size: 18px;

}
#btn-1 {
    border-radius: 20px 50px 50px 0px;
}

#btn-2 {
    border-radius: 50px 20px 0px 50px;
}