/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

body {
    background: rgba(63, 227, 102, 0.97);
}

/* Seção info do perfil */
header {
    background: rgba(63, 155, 102, 0.68);
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
}

header {
    background: rgba(63, 155, 102, 0.68);
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
}

a.btn-return {
    font-size: 30px;
}

/* Seção principal */
main a {
    color: #000000;
    height: 40px;
    padding: 5px;
}

main a:hover {
    text-decoration: none;
    background: rgba(63, 155, 102, 0.68);
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
}

main a:visited {
    color: #000000;
}